body {
  /* 多設幾個的用意是如果瀏覽器沒找到第
  一個字體，會往下去找其他字體替補 */
   /* font-family: sans;  
   font-family: 'Courier New', Courier, monospace ; */
   font-family: "Noto Sans TC", serif;
   font-optical-sizing: auto;
   font-weight: <100>;
   font-style: normal;
}
p {
  text-indent: 2rem;
}