/* grouping-selector */
/* h1, h2, h3, h4, h5, h6{
  color: blue;
} */
 /* descendant-selector */
 /* div.link1 a{
  color: red;
 }
 div.link2 a{
  color: aqua;
 } */
/* input[type="text"]{
  color: rgb(0, 4, 255);
} */
/* input[type="text"]:hover{
  color: lightgreen;
} */
/* input[type="text"]:active{
  color: lightgreen;
} */
/* input[type="text"]:focus{
  color: lightgreen;
} */
 /* p::before{
  content:">>" ;
  color: blueviolet;
 }
 *::selection{
  background-color: lawngreen;
 } */
  /* 繼承測試 */
body{
  color: red;
}